@charset "UTF-8";
/* 

	GITHUB.IO STYLE
	
COLORS:

#868686 - BODY TYPE (GRAY)

*/

@import url(SourceSansPro.css);

html, body {
	height:100%;
}
body {
	margin:0;
	font-family:'Source Sans Pro', Helvetica, Arial, sans-serif;
	text-align:center;
	color:#868686;
	background-color:#FFF;
	position:relative;
}
#wrap {
	width:981px;
	min-height:100%;
	height:auto !important;
	height:100%;
	margin:0 auto -25px auto;
	text-align: left;
}
#footer {
	text-align: left;
	height:25px;
	padding:5px 0 0 5px;
	color:#C4C4C4;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


/* --------------- header ---------------- */

header {
	width:100%;
	height:100px;
	margin-top:40px;
	text-align:left; 
	display:block;
	background-color:#fff;
	position:relative;
	overflow:hidden;
}
.leaderLine {
	width:100%;
	height:20px;
	margin-top:33px;
	text-align:left;
	color:#4d63bc;
	overflow:hidden;
}
#logo {
	width:269px;
	height:62px;
	position:absolute;
	right:0;
	top:10px;
	z-index:10;
	background-color:#fff;
	background-image:url(../images/inorganik-produce.png);
	background-repeat:no-repeat;
	background-position:right center;
}

/* ----------- elements ------------- */

* { 
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
a {
	color:#868686;
	text-decoration:none;
	cursor:pointer;
}
a.block {
a.block {
	width:100%;
	height:100%;
	display:block;
	cursor:pointer;
}
p {
	margin-top:0;
	line-height:1.4em;
}

h1, h2, h3 {
	margin-top:0;
	font-weight:300;
	margin-bottom:.5em;
}
h1 { font-size:2.3em }
h2 { font-size:1.7em }
h3 { font-size:1.5em }
	
h4, h5, h6 {
	font-weight:700;
	margin-top:0;
	margin-bottom:.5em;
}
h4 { font-size:1.3em }
h5 { font-size:.9em }
h6 { font-size:.8em }

h1.jumbo {
	font-size:12em;
	margin:0;
	color:#4d63bc;
}
h1.kindaBig {
	font-size:8em;
	margin:0;
	color:#4d63bc;
}

.sectionLabel {
	display:inline-block;
	float:left;
	margin-bottom:0;
}
.login {
	margin:100px 0 0 0;
}

br.mobileBreak {
	display:none;
}

ul, ol {
	margin-top:0;
	padding-left:28px;
}
ul.nobullets {
	list-style-type:none;
	padding:0;
}

ol ol {
	list-style-type:upper-latin;
	margin-bottom:1em;
}
ol ol ol {
	list-style-type:lower-roman;
}

.noMargin { margin:0 !important }
.marginTopTablet,
.marginTop { margin-top:20px !important }
.marginLeft { margin-left:20px !important }
.marginRight { margin-right:20px !important }
.marginBottom { margin-bottom:20px !important }
.large { font-size:1.3em }
.small, small { font-size:.8em }

.indigo { color:#4d63bc }
.lime {	color:#8BC53F }
.gray {	color:#333 }
.bkgd-gray {
	background-color:#F0F0F0 !important;
}

.disabled { opacity:.3 }
.phoneOnly { display:none !important }

.weight300 { font-weight:300 !important }
.weight400 { font-weight:400 !important }
.weight600 { font-weight:600 !important }
.weight700 { font-weight:700 !important }

/* misc */

::-moz-selection {
	color: #fff;
	background-color:#333;
}
::selection {
	color: #fff;
	background-color:#333;
}
.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.shadow {
	-webkit-box-shadow:0 0 25px rgba(0,0,0,.45);
	-moz-box-shadow:0 0 25px rgba(0,0,0,.45);
	box-shadow:0 0 25px rgba(0,0,0,.45);
}
.noBorder {
	border:0 !important;
}
.borderBottom {
	border-bottom:1px #C4C4C4 solid !important;
}
.borderRight-tablet {
	border-right:1px #C4C4C4 solid;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.borderBottom-phone {
	border-bottom:0;
}


/* ---------------- structure ----------------- */

section {
	display:block;
	clear:left;
	position:relative;
	width:100%;
	border-bottom:1px #C4C4C4 solid;
}
section.gray-bkgd {
	background-color:#F0F0F0;
}
.statRow {
	padding:10px 0;
	height:138px;
}
.col {
	float:left;
	display:inline;
}
.col-inner { 
	padding:10px;
	position:relative;
}
.col-inner-no-lr {
	padding:10px 0;
	position:relative;
}
.col-inner-btn-close {
	padding:10px;
	margin-right:44px;
	position: relative;
}
.col-inner-double {
	padding:20px;
}
.col-inner:after,
.col-inner-no-lr:after,
.col-inner-btn-close:after,
.col-inner-double:after,
section:after,
#content:after {
	content: " ";
	display: block; 
	height: 0; 
	clear: both;
}
.col-inner-hidden {
	padding:10px;
	position:relative;
	overflow:hidden;
}
.col-inner img {
	max-width:100%;
	height:auto;
}
.full { width:100% }
.fourFifths { width:80% }
.threeQuarters { width:75% }
.twoThirds { width:66.6% }
.threeFifths { width:60% }
.half, .stayHalf { width:50% }
.twoFifths { width:40% }
.third { width:33.3% }
.quarter, .quarterToTwoFifths,
.quarterToNone { width:25% }
.fifth { width:20% }

.clear { clear:both }
.clearLeft { clear:left }
.clearRight { clear:right }

.nofloat { float:none !important }
.alignleft { text-align:left !important }
.alignright { text-align:right !important }
.aligncenter { 
	text-align:center !important;
	margin-left:auto;
	margin-right:auto;
}
.inlineRight {
	float:right;
	display:inline;
}
.inlineLeft {
	float:left;
	display:inline;
}

.leftToCenter { text-align:left }
.rightToCenter { text-align:right }
.alignRightLeft { text-align:right }

.overflowHidden { overflow:hidden }

.animate {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

/* ---------------- forms ----------------- */

form {
	overflow:hidden;
	position:relative;
	text-align:left;
	padding:20px 0;
}


.inlineLabel {
	display:inline-block;
	margin:6px 0 0 0;
}
input {
	font-size:1em;
}

/* checkboxes */

.checkbox {
	float:left;
	display:inline;
	margin:3px 7px 0 0;
	padding:0;
	font-size:2em;
}

/* placeholders */

::-webkit-input-placeholder { 
	color:#ccc; 
	font:400 1.0em/1.2em Helvetica, Arial, sans-serif;
}
::-moz-placeholder { color:#ccc; } 
input:-moz-placeholder { color:#ccc; }

/* submit */

/* ---------------- responsive ----------------- */

@media all and (max-width: 768px) {
	
	

}
@media all and (max-width: 568px) {
	
	
	

}